<a href="https://colab.research.google.com/github/piklu007mallick/project_flight_transportation/blob/main/flight_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connecting gdrive in colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing numpy,pandas and getting final and matrix csv files

In [ ]:
import numpy as np
import pandas as pd
data_path = '/content/drive/My Drive/flight_network_project'
fi = pd.read_csv('/content/drive/MyDrive/flight_network_project/FINAL.csv',header=None)
mati=pd.read_csv('/content/drive/MyDrive/flight_network_project/matrix.csv',header=None)

Importing data from my git hub

In [4]:
!git clone https://github.com/piklu007mallick/project_flight_transportation.git

fatal: destination path 'project_flight_transportation' already exists and is not an empty directory.

In [5]:
import numpy as np
import pandas as pd
data_path = 'project_flight_transportation'
fi = pd.read_csv('project_flight_transportation/FINAL.csv',header=None)
mati=pd.read_csv('project_flight_transportation/matrix.csv',header=None)

In [6]:
fi.head()

        0      1      2               3  ...            6    7  8            9
0  AI 485  A 320  146.0  ANDHRA PRADESH  ...  28-Mar-2020  152  3  65.57142857
1  AI 487  A 320    5.0  ANDHRA PRADESH  ...  27-Mar-2020  147  1  21.14285714
2  AI 487  A 320    1.0  ANDHRA PRADESH  ...  23-Mar-2020  147  1  21.14285714
3  AI 485  A 320  146.0  ANDHRA PRADESH  ...  28-Mar-2020  152  3  65.57142857
4  AI 487  A 320   15.0  ANDHRA PRADESH  ...  27-Mar-2020  151  2  43.42857143

[5 rows x 10 columns]

In [ ]:
q = fi[3].unique()
print(q)

['ANDHRA PRADESH' 'DELHI' 'KARNATAKA' 'MAHARASHTRA' 'TAMIL NADU'
 'TELANGANA' 'WEST BENGAL' 'ANDAMAN' 'CHHATTISGARH' 'KERALA' 'ODISHA'
 'TRIPURA' 'ASSAM' 'ARUNACHAL PRADESH' 'GUJARAT' 'MADHYA PRADESH'
 'MANIPUR' 'MIZORAM' 'RAJASTHAN' 'GOA' 'JHARKHAND' nan 'PUNJAB'
 'UTTAR PRADESH' 'HIMACHAL PRADESH' 'JAMMU' 'LADAKH' 'BIHAR' 'CHANDIGARH'
 'LADHAKH' 'LEH' 'SRINAGAR' 'THW' 'UTTARAKHAND' 'DIU' 'Lakshadweep'
 'PONDICHERRY' '123456' 'MEGHALAYA' 'NAGALAND' 'SIKKIM']

In [ ]:
q2 = mati[0].unique()
print(q2)

[nan 'ANDHRA PRADESH' 'ARUNACHAL PRADESH' 'ASSAM' 'BIHAR' 'CHHATTISGARH'
 'GOA' 'GUJARAT' 'HARYANA' 'HIMACHAL PRADESH' 'JHARKHAND' 'KARNATAKA'
 'KERALA' 'MADHYA PRADESH' 'MAHARASHTRA' 'MANIPUR' 'MEGHALAYA' 'MIZORAM'
 'NAGALAND' 'ODISHA' 'PUNJAB' 'RAJASTHAN' 'SIKKIM' 'TAMIL NADU'
 'TELANGANA' 'TRIPURA' 'UTTAR PRADESH' 'UTTARAKHAND' 'WEST BENGAL' 'DELHI'
 'CHANDIGARH']

In [ ]:
for i in q:
  if i not in q2:
    print(i)

ANDAMAN
nan
JAMMU
LADAKH
LADHAKH
LEH
SRINAGAR
THW
DIU
Lakshadweep
PONDICHERRY
123456

In [ ]:
sum = 0

for i in range(len(fi)):
    if fi[3][i]=="HIMACHAL PRADESH" and fi[4][i]=="DELHI":
      sum=sum+pd.to_numeric(fi[9][i])   
print(sum)

1235.1428570720002

In [ ]:
mati

                   0               1   ...     29          30
0                 NaN  ANDHRA PRADESH  ...  DELHI  CHANDIGARH
1      ANDHRA PRADESH               0  ...    NaN         NaN
2   ARUNACHAL PRADESH             NaN  ...    NaN         NaN
3               ASSAM             NaN  ...    NaN         NaN
4               BIHAR             NaN  ...    NaN         NaN
5        CHHATTISGARH             NaN  ...    NaN         NaN
6                 GOA             NaN  ...    NaN         NaN
7             GUJARAT             NaN  ...    NaN         NaN
8             HARYANA             NaN  ...    NaN         NaN
9    HIMACHAL PRADESH             NaN  ...    NaN         NaN
10          JHARKHAND             NaN  ...    NaN         NaN
11          KARNATAKA             NaN  ...    NaN         NaN
12             KERALA             NaN  ...    NaN         NaN
13     MADHYA PRADESH             NaN  ...    NaN         NaN
14        MAHARASHTRA             NaN  ...    NaN         NaN
15            MANIPUR             NaN  ...    NaN         NaN
16          MEGHALAYA             NaN  ...    NaN         NaN
17            MIZORAM             NaN  ...    NaN         NaN
18           NAGALAND             NaN  ...    NaN         NaN
19             ODISHA             NaN  ...    NaN         NaN
20             PUNJAB             NaN  ...    NaN         NaN
21          RAJASTHAN             NaN  ...    NaN         NaN
22             SIKKIM             NaN  ...    NaN         NaN
23         TAMIL NADU             NaN  ...    NaN         NaN
24          TELANGANA             NaN  ...    NaN         NaN
25            TRIPURA             NaN  ...    NaN         NaN
26      UTTAR PRADESH             NaN  ...    NaN         NaN
27        UTTARAKHAND             NaN  ...    NaN         NaN
28        WEST BENGAL             NaN  ...    NaN         NaN
29              DELHI             NaN  ...      0         NaN
30         CHANDIGARH             NaN  ...    NaN         NaN

[31 rows x 31 columns]

In [ ]:
for i in range(1,30):
  a = mati[i][0]
  for j in range(1,30):
    b = mati[0][j]
    if i != j:
      sum = 0
      for k in range(len(fi)):
        if fi[3][k] == a and fi[4][k] == b:
          sum = sum+float(fi[9][k])
      mati[i][j] = sum

In [ ]:
mati

                   0               1   ...       29          30
0                 NaN  ANDHRA PRADESH  ...    DELHI  CHANDIGARH
1      ANDHRA PRADESH               0  ...  3216.43         NaN
2   ARUNACHAL PRADESH               0  ...        0         NaN
3               ASSAM               0  ...  5448.86         NaN
4               BIHAR               0  ...  6240.57         NaN
5        CHHATTISGARH               0  ...  2458.57         NaN
6                 GOA               0  ...  5336.43         NaN
7             GUJARAT               0  ...  10417.3         NaN
8             HARYANA               0  ...        0         NaN
9    HIMACHAL PRADESH               0  ...  1240.29         NaN
10          JHARKHAND               0  ...  4114.14         NaN
11          KARNATAKA            5250  ...  12894.1         NaN
12             KERALA             132  ...     3772         NaN
13     MADHYA PRADESH               0  ...  6742.57         NaN
14        MAHARASHTRA         1751.29  ...  30265.7         NaN
15            MANIPUR               0  ...  316.857         NaN
16          MEGHALAYA               0  ...        0         NaN
17            MIZORAM               0  ...        0         NaN
18           NAGALAND               0  ...        0         NaN
19             ODISHA             154  ...  2836.86         NaN
20             PUNJAB               0  ...  3795.43         NaN
21          RAJASTHAN               0  ...  6849.29         NaN
22             SIKKIM               0  ...        0         NaN
23         TAMIL NADU         2852.43  ...  8425.57         NaN
24          TELANGANA         9847.57  ...  7489.43         NaN
25            TRIPURA             132  ...      308         NaN
26      UTTAR PRADESH               0  ...  12122.6         NaN
27        UTTARAKHAND               0  ...  2186.71         NaN
28        WEST BENGAL         1249.71  ...  13128.1         NaN
29              DELHI         3469.57  ...        0         NaN
30         CHANDIGARH             NaN  ...      NaN         NaN

[31 rows x 31 columns]

In [ ]:
mati.to_excel("output.xlsx")